<div class="waifu">
      <!--  <div class="waifu-tips"></div>-->
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
</div>
    <!-- <script async src="path/to/waifu-tips.js"></script> -->

<footer class="site-footer">

  <div class="wrapper">

    <span class="footer-heading">{{ site.title }}</span>

  </div>

</footer>
<script src="https://adbin.github.io/js/live2d.js"></script>
<script src="https://adbin.github.io/fallingsnow/js/jquery.fallingsnow.min.js"></script>
<script type="text/javascript">
     //$( "#snow" ).fallingSnow();
        if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){  //测试当前是哪个手机系统，可根据业务需要选择
        /*console.log("现在是手机端")*/
              $('.waifu').remove();
    }else if(/iPad/i.test(navigator.userAgent)){ // ipad
        /*console.log("现在是平板端")*/
          $('.waifu').remove();
    }else {
        /*console.log("现在是PC端")*/
          loadlive2d("live2d", "https://adbin.github.io/live2d/33/33.json");
          $('.site-footer').css("margin-top","80px");
          
    }
</script>
    <script src="https://adbin.github.io/js/snow.js" type="text/javascript"></script>
    <script>
            windows.onload=function(){
                   if (document.body.clientWidth < 540){
                        createSnow("https://adbin.github.io/images/", 25);
                  }else{
                        createSnow("https://adbin.github.io/images/", 60);
                  }
            }
    </script>
